/* Para la parte de la pantalla de la ficha del paciente*/


#Llamada_paciente{
    margin-left: 15px;
}

#Cerrar_Consulta{
    margin-right: 15px;
}

#botonera{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

p{
    text-align: center;  
}

.btn-principal {
    background-color: #387e7d !important;
    border-color: #387e7d !important;
}


footer{
    background: #387e7d;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
    color: #cacdd2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

li{
    list-style: none;
    font-size:25px;
}

li.text-left{
    margin-left: 32%;
}

#botonesHoriz{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

ul#botonesHoriz > li{
    padding: 5px;
}

/* CSS del cronómetro*/
#contenedor{
    width: 60%;
    display: flex;
	margin:auto;
	height: 70px;
}
.reloj{
	float: left;
	font-size: 40px;
	font-family: Courier,sans-serif;
	color: #363431;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}

/* para la flecha*/
#Volver {
    font-size: 30px;
    justify-content: left; 
    display: flex; 
    color: #387e7d;
}

.row-flecha {
    display: flex;
    
}

.column-nombre{
    width:100%
}
