
/* Para la parte de la pantalla de Registro del Médico*/

img{
    height: 100px;
    margin-left: 30px;
}

h2 {
    width: 726px;
    height: 234px;
    color: #387e7d;
    font-family: fantasy;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.3;
    text-align: center;
}

h4{
    width: 396px;
    height: 77px;
    padding: 8px 8px 8px 8px;
    color: #000000;
    border-color: #29323d;
    border-width: 1px;
    border-style: solid;
    font-family: "Arapey";
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 100px;
}

h3{

    width: 390px;
    height: 77px;
    padding: 8px 8px 8px 8px;
    color: #fdfefe;
    font-family: "Arapey";
    font-weight: bold;
    font-size: 55px;
    line-height: 1.3;
    text-align:right;
    margin-top: 100px;
    padding-left: 110px;
}

#mid-left{
    width: 621px;
    height: 768px;
    padding: 8px 8px 8px 8px;
    background: white;
    float: left;
}
#mid-right{
    width: 621px;
    height: 768px;
    padding: 8px 8px 8px 8px;
    background: #54b0ab;
    border-color: #428bca;
    border-width: 1px;
    border-style: solid;
    float: right;
}
#enter{
    width: 70px;
    height: 41px;
    padding: 0px 10px 0px 10px;
    background: #ffffff;
    color: #000000;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Arapey";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 270px;
}

#usuario{
    width: 250px;
    height: 60px;
    color: #999999;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 80px;
}
#contraseña{
    width: 250px;
    height: 60px;
    color: #999999;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;

}

p{
    font-family: "Helvetica";
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
#user{
    width: 200px;
    height: 20px;
    margin-left: 200px;
}
#password{
    width: 200px;
    height: 20px;
    margin-left: 200px;
}