<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" type="image/png" th:href="@{/img/medcon_icon.png}" />
        <title>MedCon - Inicio de Sesión</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" type= "text/css"th:href="@{/css/Login.css}">
    </head>
        <body>
            <section id="mid-left">
                <img th:src="@{../../img/medcon.PNG}"> 
                <h2>Centro Médico Higía</h2>
            </section>
        
            <section id="mid-right">
                <h3>Inicio de Sesión</h3>
                <p>Introduzca el nombre de usuario y <br> la contraseña y pulse Enter</p>
                <form th:action="@{/login}" method="post">
                    <div id="usuario">
                        <input type="text" id="user" placeholder="Usuario">
                    </div>  
                    <div id="contraseña">
                        <input type="password" id="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <a id="enter" th:href="@{enter}" class="btn btn-outline-primary btn-block" th:text="#{consultas.acciones.enter}"></a>
                    </div>
                </form>
            </section>
        
        </body>
</html>