<!DOCTYPE html>
<html>

<head>
    <title>Agenda De Pacientes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="AgendaMedico.css">
</head>

<body>
    <section id="medcon">
        <img id="foto" src="medcon.PNG">
    </section>

    <section id="mid_top">
        <input type="date" id="start" name="trip-start"
               value="2022-03-31"
               min="2022-03-30" max="2022-07-01">
        <p>Tiempo Global:</p>
        <button id="doctor" onclick="">Dr./Dra. Apellido</button>
    </section>
    
    <table>
        <tr>
            <td><strong>Presencia</strong></td>
            <td><strong>Pacientes</strong></td>
            <td><strong>Hora</strong></td>
            <td><strong>Acto</strong></td>
        </tr>

        <tr>
            <td class="consulta">Presente</td>
            <td class="paciente_actual">Ada Lovelace</td>
            <td class="paciente_siguiente">8:30</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta">Presente</td>
            <td class="paciente_actual">Grace Hopper</td>
            <td class="paciente_siguiente">8:45</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta">Presente</td>
            <td class="paciente_actual">Marggaret Hamilton</td>
            <td class="paciente_siguiente">8:59</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta">Presente</td>
            <td class="paciente_actual">Nicolás Mendoza</td>
            <td class="paciente_siguiente">9:06</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta"> No Presente</td>
            <td class="paciente_actual">Mónica Gómez</td>
            <td class="paciente_siguiente">9:30</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta"> No Presente</td>
            <td class="paciente_actual">Juan Francisco Vara</td>
            <td class="paciente_siguiente">9:35</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta"> No Presente</td>
            <td class="paciente_actual">Álvaro Martín</td>
            <td class="paciente_siguiente">9:40</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>
        <tr>
            <td class="consulta"> No Presente</td>
            <td class="paciente_actual">Katia Alvarado</td>
            <td class="paciente_siguiente">9:45</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>

        <tr>
            <td class="consulta"> No Presente</td>
            <td class="paciente_actual">Marina Blanco</td>
            <td class="paciente_siguiente">9:50</td>
            <td class="paciente_siguiente">Presencial</td>
        </tr>


    </table>

</body>


</html>